Package: ec2cli
Version: 0.0.0
Section: devel
Priority: optional
Maintainer: Blake Huber <blakeca00@gmail.com>
Bugs:
Installed-Size: 124 kB
Build-Depends: debhelper (>=9)
Depends:  bash (>= 4.2), awscli, curl, coreutils, debianutils, hostname, python3-boto3, util-linux, bash-completion, jq, sed, wget, python3
Download-Size: 40 kB
Standards-Version: 3.9.6
Architecture: amd64
Description: Manage Amazon Web Services' EC2 machines from the command line.
  .
  EC2cli is a utility which allows one to view and manage EC2 machines,
  EBS volumes, snapshots, subnets, vpcs, tags, and EC2 spot instances.
  .
Homepage: https://github.com/fstab50/ec2cli
